@tailwind base;
@tailwind components;
@tailwind utilities;

[data-layout="static"] {
  @apply min-h-screen font-sans antialiased pt-28 w-full mx-auto md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl px-4 lg:px-6;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mb-5 text-white;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  ul {
    @apply ml-5 list-disc mb-5;
  }

  p {
    @apply mb-5;
  }

  img {
    @apply mb-10 rounded;
  }

  a {
    @apply text-blue-400 underline;
  }

  * {
    @apply text-gray-300;
  }
}
